<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>NwJs Angular Template</title>
    <script src="js/commons.js"></script>
    <script src="js/app.bundle.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
</head>

<body ng-controller="MainController as ctrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My App ®</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a  href="#" ng-click="ctrl.openDevTools()"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Show DevTools</a></li>
                    <li><a href="#" ng-click="ctrl.reload()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reload</a></li>
                    <li><a href="#" ng-click="ctrl.quit()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container" style="padding-top:150px">
        <div class="row" >

            <div class="col-md-7">
                <span class="glyphicon glyphicon-asterisk">Testando Icon</span>
                <h1>NwJS APP</h1>
                <div>
                    version: <span ng-bind="ctrl.version"></span>


                </div>
            </div>

        </div>
        <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        </button>

        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>
    </div>
    
    <script>
        var gui = window.NwGui;

        // Create a tray icon
        var tray = new gui.Tray({ icon: 'app/doc.png' });
        delete tray.tooltip ;
        // Give it a menu
        var menu = new gui.Menu();
        menu.append(new gui.MenuItem({ type: 'checkbox', label: 'box1' }));
        tray.menu = menu;
        
        // Create an empty menu
var menuJanela = new gui.Menu({'type': 'menubar'});

// Add some items
menuJanela.append(new gui.MenuItem({ label: 'Item A' }));
menuJanela.append(new gui.MenuItem({ label: 'Item B' }));
menuJanela.append(new gui.MenuItem({ type: 'separator' }));
menuJanela.append(new gui.MenuItem({ label: 'Item C' }));

gui.Window.get().menu = menuJanela;
    </script>

</body>

</html>